.image-container {
    width: 100%;
}

.image-container > div > img {
    display: block;
    margin: 1em auto;
}

img.image__visible {
    border: 2px solid black;
    background-color: grey;
}

img.image__invisible {
    border: none;
    background-color: white;
}